<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//PTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lonelySnow.mapper.DepartmentMapper">
    <resultMap id="departmentResultMap" type="department">
        <result property="departmentId" column="d_id" />
    </resultMap>
    <resultMap id="userResultMap" type="User">
        <result property="userId" column="u_id" />
        <result property="departmentId" column="d_id" />
    </resultMap>
    <resultMap id="personTaskResultMap" type="personTask">
        <result property="startTime" column="start_time" />
        <result property="finishTime" column="finish_time" />
        <result property="taskId" column="dt_id" />
    </resultMap>
    <update id="archiveTask">
        UPDATE d_task
        <if test="pageId == 1">
            set state = 2
        </if>
        <if test="pageId == 2">
            set state = 1
        </if>
        <where>
            d_id = #{departmentId} and dt_id = #{taskID}
        </where>
    </update>

    <select id="selectPersonTaskByCondition" resultMap="personTaskResultMap">
        select dt.dt_id,tp.title,tp.briefing,tp.detail,tp.start_time,tp.finish_time,dt.state from d_task dt join total_dt tp on dt.dt_id = tp.dt_id
        <where>
            and dt.d_id = #{departmentId}
            <if test="pageId == 1">
                and dt.state != 2
            </if>
            <if test="pageId == 2">
                and dt.state = 2
            </if>
            <if test="PT.title != null and PT.title != ''">
                and title like "%"#{PT.title}"%"
            </if>
            <if test="PT.startTime != null and PT.finishTime != ''">
                and start_time &gt;= #{PT.startTime}
                and finish_time &lt;= #{PT.finishTime}
            </if>
            <if test="PT.state != null and PT.state != ''">
                and dt.state = #{PT.state}
            </if>
            ORDER BY dt.state
            limit #{begin},#{size}
        </where>
    </select>

    <select id="selectPersonTaskCountByCondition" resultType="java.lang.Integer">
        select count(*) from d_task dt join total_dt tp on dt.dt_id = tp.dt_id
        <where>
            and dt.d_id = #{departmentId}
            <if test="pageId == 1">
                and dt.state != 2
            </if>
            <if test="pageId == 2">
                and dt.state = 2
            </if>
            <if test="PT.title != null and PT.title != ''">
                and title like "%"#{PT.title}"%"
            </if>
            <if test="PT.startTime != null and PT.finishTime != ''">
                and start_time &gt;= #{PT.startTime}
                and finish_time &lt;= #{PT.finishTime}
            </if>
            <if test="PT.state != null and PT.state != ''">
                and pt.state = #{PT.state}
            </if>
        </where>
    </select>
</mapper>